$black: '000';
$lg: '1024';
$xs: '600';


.box-blue{
  background: -webkit-gradient(linear, right top, left top, from(#291584), to(#9133e2));
  background: linear-gradient(to left, #291584 0%, #9133e2 100%);
  *{color:#FFF !important;}
}
.box-orange{
  background: -webkit-gradient(linear, left top, right top, from(#845b15), to(#e2b333));
  background: linear-gradient(to right, #9d680b 0%, #e2c533 100%);
  *{color:#FFF !important;}
}
.Order {
  .features_content{
    margin-top:0
  }
  .single_features{
    padding:25px
  }
  & .about-accordion {
    & .accordion {
      & .card {
        border: 0;
        background: none;

        & .card-header {
          padding: 0;
          border: 0;
          background: none;
          margin-top: 40px;

          & a {
            font-size: 18px;
            font-weight: 500;
            color: $black;
            display: block;
            position: relative;
            padding-right: 20px;
/*
            @media #{$lg} {
              font-size: 16px;
            }
            @media #{$xs} {
              font-size: 16px;
            }

  */          &::before {
              content: "\ea58";
              font-family: "LineIcons";
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              //@include transform(translateY(-50%));
            }
          }

          & .collapsed {
            &::before {
              content: "\ea5c";
            }
          }
        }
        & .card-body {
          padding: 20px 20px 0;

          & .text {
            font-size: 12px;
          }
        }
      }
    }
  }
}
