.google-auth-btn {
  background-color: #3698ee !important;
  color: #fff !important;
  display: inline-flex;
  align-items: center;
}
.single_features{
  padding:15px
}
#Order{
  padding-bottom: 0;
}
.Order .single_features {
  padding: 25px;
}