$black: "000";
$lg: "1024";
$xs: "600";

.HowItWork {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#291584),
    to(#9133e2)
  );
  background: linear-gradient(to right, #291584 0%, #9133e2 100%);
  .col-lg-7{padding: 50px 0;}
  * {
    color: #fff !important;
  }
  .list-group-item {
    i.lni {
      margin-right: 15px;
    }
    border: none;
    background-color: transparent;
  }
  .cover {
    
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
  }
}
