#aboutUs {
  p {
    padding: 25px;
    margin: 15px;
    font-size: 22px;
  }
  .first-p {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
  }
  .container > div.row {
    background-size: 100%;
    background-position: center;
    margin: 0 -30px !important;
  }
  .second-p {
    background: rgba(68, 30, 158, 0.9);
    color: #ffff;
  }
}
